In [7]:
import numpy as np
import pandas as pd
import xlrd

In [45]:
xls = pd.ExcelFile(r'C:\Users\Yang\Documents\RBES work\Projects&study\Sensors\Reference\SoundingTable\soundingTable.xlsx')
heel = pd.read_excel(xls, 'heel')
trim = pd.read_excel(xls, 'trim')

In [46]:
macro = ""
for index_t, t in trim.iterrows():
    for index_h,h in heel.iterrows():
        macro += t[2]+'\n'+ h[2]+'\n'+".u_snd2"+'\n'
macro

'trim 1a\nheel 5p\n.u_snd2\ntrim 1a\nheel 4.5p\n.u_snd2\ntrim 1a\nheel 4p\n.u_snd2\ntrim 1a\nheel 3.5p\n.u_snd2\ntrim 1a\nheel 3p\n.u_snd2\ntrim 1a\nheel 2.5p\n.u_snd2\ntrim 1a\nheel 2p\n.u_snd2\ntrim 1a\nheel 1.5p\n.u_snd2\ntrim 1a\nheel 1p\n.u_snd2\ntrim 1a\nheel 0.5p\n.u_snd2\ntrim 1a\nheel 0p\n.u_snd2\ntrim 1a\nheel 0.5s\n.u_snd2\ntrim 1a\nheel 1s\n.u_snd2\ntrim 1a\nheel 1.5s\n.u_snd2\ntrim 1a\nheel 2s\n.u_snd2\ntrim 1a\nheel 2.5s\n.u_snd2\ntrim 1a\nheel 3s\n.u_snd2\ntrim 1a\nheel 3.5s\n.u_snd2\ntrim 1a\nheel 4s\n.u_snd2\ntrim 1a\nheel 4.5s\n.u_snd2\ntrim 1a\nheel 5s\n.u_snd2\ntrim 0.5a\nheel 5p\n.u_snd2\ntrim 0.5a\nheel 4.5p\n.u_snd2\ntrim 0.5a\nheel 4p\n.u_snd2\ntrim 0.5a\nheel 3.5p\n.u_snd2\ntrim 0.5a\nheel 3p\n.u_snd2\ntrim 0.5a\nheel 2.5p\n.u_snd2\ntrim 0.5a\nheel 2p\n.u_snd2\ntrim 0.5a\nheel 1.5p\n.u_snd2\ntrim 0.5a\nheel 1p\n.u_snd2\ntrim 0.5a\nheel 0.5p\n.u_snd2\ntrim 0.5a\nheel 0p\n.u_snd2\ntrim 0.5a\nheel 0.5s\n.u_snd2\ntrim 0.5a\nheel 1s\n.u_snd2\ntrim 0.5a\nheel 1.5s\n.u_snd2\ntrim 0.5a\nheel 2s\n.u_snd2\ntrim 0.5a\nheel 2.5s\n.u_snd2\ntrim 0.5a\nheel 3s\n.u_snd2\ntrim 0.5a\nheel 3.5s\n.u_snd2\ntrim 0.5a\nheel 4s\n.u_snd2\ntrim 0.5a\nheel 4.5s\n.u_snd2\ntrim 0.5a\nheel 5s\n.u_snd2\ntrim 0a\nheel 5p\n.u_snd2\ntrim 0a\nheel 4.5p\n.u_snd2\ntrim 0a\nheel 4p\n.u_snd2\ntrim 0a\nheel 3.5p\n.u_snd2\ntrim 0a\nheel 3p\n.u_snd2\ntrim 0a\nheel 2.5p\n.u_snd2\ntrim 0a\nheel 2p\n.u_snd2\ntrim 0a\nheel 1.5p\n.u_snd2\ntrim 0a\nheel 1p\n.u_snd2\ntrim 0a\nheel 0.5p\n.u_snd2\ntrim 0a\nheel 0p\n.u_snd2\ntrim 0a\nheel 0.5s\n.u_snd2\ntrim 0a\nheel 1s\n.u_snd2\ntrim 0a\nheel 1.5s\n.u_snd2\ntrim 0a\nheel 2s\n.u_snd2\ntrim 0a\nheel 2.5s\n.u_snd2\ntrim 0a\nheel 3s\n.u_snd2\ntrim 0a\nheel 3.5s\n.u_snd2\ntrim 0a\nheel 4s\n.u_snd2\ntrim 0a\nheel 4.5s\n.u_snd2\ntrim 0a\nheel 5s\n.u_snd2\ntrim 0.5f\nheel 5p\n.u_snd2\ntrim 0.5f\nheel 4.5p\n.u_snd2\ntrim 0.5f\nheel 4p\n.u_snd2\ntrim 0.5f\nheel 3.5p\n.u_snd2\ntrim 0.5f\nheel 3p\n.u_snd2\ntrim 0.5f\nheel 2.5p\n.u_snd2\ntrim 0.5f\nheel 2p\n.u_snd2\ntrim 0.5f\nheel 1.5p\n.u_snd2\ntrim 0.5f\nheel 1p\n.u_snd2\ntrim 0.5f\nheel 0.5p\n.u_snd2\ntrim 0.5f\nheel 0p\n.u_snd2\ntrim 0.5f\nheel 0.5s\n.u_snd2\ntrim 0.5f\nheel 1s\n.u_snd2\ntrim 0.5f\nheel 1.5s\n.u_snd2\ntrim 0.5f\nheel 2s\n.u_snd2\ntrim 0.5f\nheel 2.5s\n.u_snd2\ntrim 0.5f\nheel 3s\n.u_snd2\ntrim 0.5f\nheel 3.5s\n.u_snd2\ntrim 0.5f\nheel 4s\n.u_snd2\ntrim 0.5f\nheel 4.5s\n.u_snd2\ntrim 0.5f\nheel 5s\n.u_snd2\ntrim 1f\nheel 5p\n.u_snd2\ntrim 1f\nheel 4.5p\n.u_snd2\ntrim 1f\nheel 4p\n.u_snd2\ntrim 1f\nheel 3.5p\n.u_snd2\ntrim 1f\nheel 3p\n.u_snd2\ntrim 1f\nheel 2.5p\n.u_snd2\ntrim 1f\nheel 2p\n.u_snd2\ntrim 1f\nheel 1.5p\n.u_snd2\ntrim 1f\nheel 1p\n.u_snd2\ntrim 1f\nheel 0.5p\n.u_snd2\ntrim 1f\nheel 0p\n.u_snd2\ntrim 1f\nheel 0.5s\n.u_snd2\ntrim 1f\nheel 1s\n.u_snd2\ntrim 1f\nheel 1.5s\n.u_snd2\ntrim 1f\nheel 2s\n.u_snd2\ntrim 1f\nheel 2.5s\n.u_snd2\ntrim 1f\nheel 3s\n.u_snd2\ntrim 1f\nheel 3.5s\n.u_snd2\ntrim 1f\nheel 4s\n.u_snd2\ntrim 1f\nheel 4.5s\n.u_snd2\ntrim 1f\nheel 5s\n.u_snd2\n'

In [47]:
with open(r'C:\Users\Yang\Documents\RBES work\Projects&study\Sensors\Reference\SoundingTable\test.csv','w') as f:
    f.write(macro)

### Senset.dat

In [89]:
with open(r'C:\Users\Yang\Documents\RBES work\Projects&study\Sensors\Reference\GLM_Info\senset.csv','r') as f:
    senset = f.readlines()

In [90]:
senset_series = pd.Series(senset)

In [91]:
senset_series[0]

'VARIABLE (ST) SENS_ID1 = 178>378\n'

In [92]:
import re
def get_text(string,pattern,n):
    result = re.search(pattern,string)
    if result:
        return result.group(n)
    return ''

In [132]:
#Extract sensor ID. 
ID_pattern = 'SENS_ID\d+\s={1}\s([0-9]{3})(>[0-9]{3}){0,1}'
ID_sequence = senset_series.apply(lambda x:get_text(x,ID_pattern,1))

In [133]:
type(ID_sequence)

pandas.core.series.Series

In [134]:
senset_df = pd.DataFrame({"senset.dat":senset_series,"ID_sequence":ID_sequence})

In [135]:
senset_df.head(22)

   ID_sequence                           senset.dat
0          178   VARIABLE (ST) SENS_ID1 = 178>378\n
1                 VARIABLE (ST) SENS_T1 = TFW0806\n
2                          VARIABLE SENS_DEF1 = 2\n
3                           VARIABLE SENS_TU1 = 4\n
4               VARIABLE (ST) SENS_LID1 = 178>378\n
5                VARIABLE (LE) SENS_LL1 = -159.49\n
6                   VARIABLE (LE) SENS_LT1 = 1.28\n
7                   VARIABLE (LE) SENS_LV1 = 0.05\n
8                          VARIABLE SENS_TUX1 = 0\n
9               VARIABLE (ST) SENS_IDT1 = 178>378\n
10               VARIABLE (ST) SENS_TT1 = TFW0806\n
11         130   VARIABLE (ST) SENS_ID2 = 130>330\n
12                VARIABLE (ST) SENS_T2 = MIS0819\n
13                         VARIABLE SENS_DEF2 = 2\n
14                          VARIABLE SENS_TU2 = 4\n
15              VARIABLE (ST) SENS_LID2 = 130>330\n
16                VARIABLE (LE) SENS_LL2 = -177.1\n
17                  VARIABLE (LE) SENS_LT2 = 6.57\n
18                  VARIABLE (LE) SENS_LV2 = 3.64\n
19                         VARIABLE SENS_TUX2 = 0\n
20              VARIABLE (ST) SENS_IDT2 = 130>330\n
21               VARIABLE (ST) SENS_TT2 = MIS0819\n

In [136]:
for index, row in senset_df.iterrows():
    if row[0]!= "":
        row[1]=row[0]
senset_df.head()

  ID_sequence                           senset.dat
0         178                                  178
1                VARIABLE (ST) SENS_T1 = TFW0806\n
2                         VARIABLE SENS_DEF1 = 2\n
3                          VARIABLE SENS_TU1 = 4\n
4              VARIABLE (ST) SENS_LID1 = 178>378\n

#### Construct a reshaped dataframe

In [137]:
ID_sequence_list = ID_sequence.tolist()

In [138]:
ID_sequence_unique = [x for x in ID_sequence_list if x!=""]         
ID_sequence_unique[:10]

['178', '130', '131', '123', '112', '110', '124', '125', '100', '101']

In [139]:
## Construct a dataframe with these ID
senset_df_reshape = pd.DataFrame(index=ID_sequence_unique,columns=["Tankname","x","y","z"])
senset_df_reshape.head()

    Tankname    x    y    z
178      NaN  NaN  NaN  NaN
130      NaN  NaN  NaN  NaN
131      NaN  NaN  NaN  NaN
123      NaN  NaN  NaN  NaN
112      NaN  NaN  NaN  NaN

##### Get Tank name, x, y, z info from senset.dat

In [140]:
def get_unique(my_series):
    my_series_list = my_series.tolist()
    my_series_unique = [x for x in my_series_list if x!=""]
    return my_series_unique

In [141]:
# Extract Tankname
tankname_pattern = 'TT[0-9]+\s=\s(.+)'
tankname = senset_series.apply(lambda x:get_text(x,tankname_pattern,1))

In [143]:
senset_df_reshape["Tankname"] = get_unique(tankname)

In [146]:
senset_df_reshape.head()

    Tankname    x    y    z
178  TFW0806  NaN  NaN  NaN
130  MIS0819  NaN  NaN  NaN
131  MIS0821  NaN  NaN  NaN
123  MIS0807  NaN  NaN  NaN
112   DO0907  NaN  NaN  NaN

In [158]:
#Extract x,y,z
x_pattern = 'LL[0-9]+\s=\s(.{0,1}[0-9]+\.{0,1}[0-9]+)'
y_pattern = 'LT[0-9]+\s=\s(.{0,1}[0-9]+\.{0,1}[0-9]+)'
z_pattern = 'LV[0-9]+\s=\s(.{0,1}[0-9]+\.{0,1}[0-9]*)'
x = senset_series.apply(lambda x:get_text(x,x_pattern,1))
y = senset_series.apply(lambda x:get_text(x,y_pattern,1))
z = senset_series.apply(lambda x:get_text(x,z_pattern,1))

In [159]:
len(get_unique(z))

127

In [160]:
senset_df_reshape['x'] = get_unique(x)
senset_df_reshape['y'] = get_unique(y)
senset_df_reshape['z'] = get_unique(z)

In [162]:
senset_df_reshape.head()

    Tankname        x       y      z
178  TFW0806  -159.49    1.28   0.05
130  MIS0819   -177.1    6.57   3.64
131  MIS0821  -175.43    6.53   3.16
123  MIS0807  -161.23   -0.22   0.05
112   DO0907  -184.64  -15.07  17.02

In [161]:
senset_df_reshape.to_csv(r"C:\Users\Yang\Documents\RBES work\Projects&study\Sensors\Reference\GLM_Info\Senset_YC.csv")